﻿@model Link

@if(ViewData["Title"] == "Home")
{
    <a href="http://www.linkedin.com/in/@Model.URLPath">LinkedIn Profile</a>
}
else if(ViewData["Title"] == "Projects")
{
    <a href="http://www.github.com/@Model.URLPath">Github Profile</a>
}