﻿@page
@model AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<div class="jumbotron jumbotron-fluid jumbotron-container text-white about-jumbotron">
    <div class="container-fluid jumbotron-content">
        <p class="text-center mb-4 jumbotron-header">About Me</p>
    </div>
</div>

<div class="container">
    <p class="general-content">
        @Model.Description
    </p>
    <hr width="50%">
    <p class="general-content text-center">
        If you'd like to contact me, feel free to reach me at: <a href="mailto:@Model.Email">@Model.Email</a>
    </p>
 </div>
