﻿@page
@model ProjectsModel

@{
    ViewData["Title"] = "Projects";
}

<div class="jumbotron jumbotron-fluid jumbotron-container text-white project-jumbotron">
    <div class="container-fluid jumbotron-content">
        <p class="text-center mb-4 jumbotron-header">Projects</p>
    </div>
</div>

<div class="container">
    @foreach (Project proj in Model.Projects)
    {
        if (proj.Year > 2017)
        {
            <div class="project-container">
                <h4 class="project-title general-header">
                    @proj.Title
                </h4>
                <p class="project-year general-header">
                    @proj.Year
                </p>
                <p class="project-description general-content">
                    @proj.Description
                </p>
                <p>
                    Technologies: 
                    @{ 
                        int count = proj.Technologies.Count;
                    }
                    @for (int i = 0; i < count; i++)
                    {
                        <span class="general-content">
                            @proj.Technologies[i]
                            @if (i < count - 1)
                            {
                                <text>, </text>
                            }
                        </span>
                    }
                </p>
            </div>
        }
    }
    <br>
    <h4 class="general-header">Portfolio</h4>
    <p class="general-content">
        For more information regarding my experience, please refer to my <partial name="_Links" model="@new Link(LinkType.Github, Model.GithubUsername)" />
    </p>
    <br>
</div>